#admin-show, #show-guest{

    padding-top: 40px;
    .my-card {

        width: 300px;
        max-width: 1200px;
        background-color: white;
        border-radius: 20px;
        padding: 15px 20px;
        box-shadow: 0px 8px 15px 0px #00000090;

            .my-show-card-body {
                span {
                    margin-left: 5px;
                }
            }
    }
}

